<%= content_for :title do -%>
Home
<% end %>

<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'coda-slider' %>
<%= stylesheet_link_tag 'thickbox' %>




<!-- Wrapper Container Starts Here -->
<div id="wrapper">
	<div id="header">
	<!--<div id="logo"></div>-->
	<div><h1>ObaidMalik.com</h1></div>

	<div id="navigation">
		<ul id="menu">
			<li id="home-nav"> <%= link_to ('home'), {:action => 'home',:controller => 'static_pages'} %> </li>
			<li id="portfolio-nav"><%= link_to ('portfolio') %> </li>
			<li id="contact-nav"><%= link_to  "blogs", "http://echoingpauses.blogspot.com", {:target => "_blank"} %> </li>
			<li id="about-nav"><%= link_to ('about'), {:action => 'about'} %> </li>
			<li id="contact-nav"><%= link_to ('contact'), {:action => 'contact'} %> </li>
		</ul>
	</div> 
	<!-- End of Navigation Container -->
</div>
<!-- End of Header Container -->

<!-- Home Container Starts Here -->
<div id="home">

	<div class="content">

		<div id="landing-heading">
			LaunchPad of <i>Obaid Malik</i>. Join in!
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>

		<!-- Current Project Showcase Container Starts Here -->
		<div class="showcase">

			<div><span class="heading-2">Current Project</span></div>

			<div class="showcase-img"><%= image_tag "work-image.jpg" %> </div>

			<div class="showcase-content">
				<h3>Client:</h3>
				<p>Designz Studio</p>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>
				<div class="links">
					<a href="/assets/Green-Business-Template.jpg" class="thickbox" title="Green Business Template">Enlarge Image</a> | <a href="#">Visit Website</a>
					<%= link_to ('Magnify')%>

				</div>
			</div>

		</div>
		<!-- End of Showcase Container -->

	</div>
	<!-- End of Content Container -->

	<div class="separator"><a href="#header" class="to-top-img">back to top</a></div>

</div>
<!-- End of Home Container -->




<!-- Portfolio Container Starts Here -->

<div id="portfolio">

<div class="content">

<h2>PORTFOLIO</h2>

<!-- Web Designing Container Starts Here -->
<div style="margin-top: 10px;"><span class="heading-2">Web Designing</span></div>

<div class="slider-wrap">
<div id="slider1" class="csw">
<div class="panelContainer">

<!-- Panel Container Starts Here -->
<div class="panel">

<div class="showcase-img"><%= image_tag "work-image.jpg" %></div>

<div class="showcase-content">
<h3>Client:</h3>
<p>Designz Studio</p>

<h3>Description</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>
<div class="links">
<a href="/assets/Green-Business-Template.jpg" class="thickbox" title="Green Business Template">Enlarge Image</a> | <a href="#">Visit Website</a>
</div>
</div>

</div>
<!-- Panel Container Ends Here -->

<!-- Panel Container Starts Here -->
<div class="panel">

<div class="showcase-img">
	<%= image_tag "work-image2.jpg" %>
</div>

<div class="showcase-content">
<h3>Client:</h3>
<p>Designz Studio</p>

<h3>Description</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>
<div class="links">
<a href="/assets/Grunge-Blog-Design.jpg" class="thickbox" title="Grunge Website Template">Enlarge Image</a> | <a href="#">Visit Website</a>
</div>
</div>

</div>
<!-- Panel Container Ends Here -->

<!-- Panel Container Starts Here -->
<div class="panel">

<div class="showcase-img">
<%= image_tag "work-image3.jpg" %>
</div>

<div class="showcase-content">
<h3>Client:</h3>
<p>Designz Studio</p>

<h3>Description</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>
<div class="links">
<a href="/assets/Busines---Web-Portfolio.jpg" class="thickbox" title="Green Business Template">Enlarge Image</a> | <a href="#">Visit Website</a>
</div>
</div>

</div>
<!-- Panel Container Ends Here -->

</div><!-- .panelContainer ends here -->
</div><!-- #slider1 ends here -->
</div><!-- .slider-wrap ends here -->
<!-- Web Designing Container Ends Here -->



</div>
<!-- End of Content Container -->

<div class="separator">
<a href="#header" class="to-top-img">back to top</a>
</div>

</div>
<!-- End of Portfolio Container -->


<!-- Footer Starts Here -->
<div id="footer">
<p>This site is powered by <%= image_tag "rails.png" %><br />

<a href="#header">Built and mainteined by Obaid Malik</a></p>
<br />
<br />
</div>
<!-- Footer ends Here -->

</div>
<!-- End of Wrapper -->


 
