<!DOCTYPE html>
<html>
<head>
  <title><%= "Project Site | #{yield(:title)}" %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield(); %>
</body>

</html>
